.env
**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.d
**/*kubeconfig*
**/.fuse*
**/*.git
**/*.bak
**/inventory.ini
postgres/tracey-reloaded
*/*values.yaml
*/*cm.yaml
